<div class="footer">
    <div class="container clearfix">
        <div class="pull-right" style="padding-left: 20px">
            <a>联系我</a>
        </div>
        <ul class="list-inline icon-list">
            <li class="icon">
                <a href="{{ BASE_PATH }}/img/qrcode-qq.jpg" class="qq-btn">
                    <img src="{{ BASE_PATH }}/icon/qq.png">
                </a>
                <div class="hidden-img" >
                    <img src="{{ BASE_PATH }}/img/qrcode-qq.jpg">
                </div>
            </li>
            <li class="icon"><a href="{{ BASE_PATH }}/img/qrcode-wechat.png">
                <img src="{{ BASE_PATH }}/icon/wechat.png"></a>
                <div class="hidden-img wechat-img" >
                    <img src="{{ BASE_PATH }}/img/qrcode-wechat.png">
                </div>
            </li>
            <li class="icon"><a href="https://github.com/jiange2">
                <img src="{{ BASE_PATH }}/icon/github.png"></a>
            </li>
        </ul>
    </div>
    <script>
        window.onload = function (ev) {
            $('.icon-list .icon a').on('mouseover',function () {
                $(this).nextAll('.hidden-img').css({opacity: 1,bottom:'60px'});
            });
            $('.icon-list .icon a').on('mouseleave',function () {
                $(this).nextAll('.hidden-img').css({opacity: 0,bottom:'80px'});
            });
        }
    </script>
</div>